@model IEnumerable<Watchlist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<body class="hold-transition register-page">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="register-box">
                <div class="card">
                    <div class="card-body register-card-body">

                        <p class="login-box-msg"><b>Watchlist</b></p>
                        
                        @if(Model.Count()>0)
                        { 
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().WatchlistId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Tube.ImageThumbnailUrl)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Tube.Brand)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Tube.ShortDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Tube.Price)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.WatchlistId
                                    </td>
                                    <td>
                                        <img src="@item.Tube.ImageThumbnailUrl" class="figure-img img-fluid rounded" width="80" alt="">
                                    </td>
                                    <td>
                                        @item.Tube.Brand  @item.Tube.Type
                                    </td>
                                    <td>
                                        @item.Tube.ShortDescription
                                    </td>
                                    <td>
                                        @item.Tube.Price.ToString("c")
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Tube" asp-action="Details" asp-route-tubeId="@item.TubeId">                                            
                                            <i class="fas fa-info"></i>
                                            Details
                                        </a>
                                        <a class="btn btn-danger delete" data-id="@item.WatchlistId" data-controller="watchlist" data-action="delete" data-body-message="Are you sure?">
                                            <i class="fas fa-trash alt"></i>
                                            Remove
                                        </a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        }
                        else
                        {
                            <h5>Your watchlist is empty...</h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
