
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <div>
                            <h4 class="my-2">Invoice #@Model.InvoiceId</h4>
                            <h6>From @Model.OrderDate.ToShortDateString(), Status: @Model.Status </h6>
                            <hr />
                            <div class="row ml-4">
                                <p><b>@Model.Customer.FirstName @Model.Customer.LastName</b>, tel. @Model.Customer.PhoneNumber, @Model.Customer.Email</p>
                            </div>
                            <div class="row ml-4">
                                <h6><u>Billing Address:</u></h6>
                            </div>
                            <div class="row ml-4">
                                <p>@Model.Customer.AddressLine1 @Model.Customer.AddressLine2, @Model.Customer.ZipCode @Model.Customer.City, @Model.Customer.State, @Model.Customer.Country</p>
                            </div>
                            <div class="row ml-4">
                                <h6><u>Shipping Address:</u></h6>
                            </div>
                            <div class="row ml-4">
                                <p>@Model.ShippingAddress.AddressLine1 @Model.ShippingAddress.AddressLine2, @Model.ShippingAddress.ZipCode @Model.ShippingAddress.City, @Model.ShippingAddress.State, @Model.ShippingAddress.Country</p>
                            </div>
                            <p><h6><u>Purchased Items:</u></h6></p>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Tube
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Specifics
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model.InvoicesInfo)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.Tube.ImageThumbnailUrl" class="figure-img img-fluid rounded" width="50" alt="">
                                        </td>
                                        <td>
                                            @item.Tube.Brand @item.Tube.Type
                                        </td>
                                        <td>
                                            @item.Tube.ShortDescription
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>

                                        @if (item.Discount != 0)
                                        {
                                            <td>
                                                @item.Price.ToString("c")
                                                <p class="text-danger">-@item.Discount.ToString("P0")</p>
                                                <p><b>New Price:</b></p>
                                                <p>@((item.Price * (1 - item.Discount)).ToString("c"))</p>
                                            </td>
                                            <td>
                                                @((item.Price * item.Quantity).ToString("c"))
                                                <p class="text-danger">-@item.Discount.ToString("P0")</p>
                                                <p><b>New Total:</b></p>
                                                <p>@((item.Price * item.Quantity * (1 - item.Discount)).ToString("c"))</p>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @item.Price.ToString("c")
                                            </td>
                                            <td>
                                                @((item.Price * item.Quantity).ToString("c"))
                                            </td>
                                        }

                                    </tr>
                                }
                                <tr>
                                    <td colspan="6" style="text-align:right">
                                        @{ decimal total = 0; }

                                        @foreach (var item in Model.InvoicesInfo)
                                        {
                                            total += item.Price * item.Quantity * (1 - item.Discount);
                                        }

                                        @if (Model.Coupon != null)
                                        {
                                            <h5>Grand Total: @total.ToString("c"))</h5>

                                            <p>Applied coupon: @Model.Coupon.CouponName (@Model.Coupon.CouponValue.ToString("P0"))</p>
                                        }
                                        <h5>Final Total: <strong>@Model.Total.ToString("c")</strong></h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p class="text-center">
                            @Html.ActionLink("Mark Payed", "SetPayed", new { id = Model.InvoiceId }) |
                            <a asp-action="Index">Back to List</a>
                        </p>
                    </div>
                </div>
                </div>
            </div>
    </div>
</section>



