@model PaginatedList<Invoice>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0" style="height: 80Vh;">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().InvoiceId)
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().OrderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Total)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceId)
                                        </td>
                                        <td>
                                            @item.Customer.UserName
                                        </td>
                                        <td>
                                            @item.OrderDate.ToShortDateString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @item.Total.ToString("c")
                                        </td>
                                        <td>
                                            @Html.ActionLink("Mark Payed", "SetPayed", new { id = item.InvoiceId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |
                                            @Html.ActionLink("Delete", "SetInactive", new { id = item.InvoiceId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (@Model.PageIndex > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="Admin" asp-controller="Invoice" asp-action="Index" asp-route-page="@(Model.PageIndex-1)">&laquo;</a>
                                </li>
                            }
                            <li class="page-item"><a class="page-link">@Model.PageIndex</a></li>
                            @if (@Model.TotalPages > @Model.PageIndex)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="Admin" asp-controller="Invoice" asp-action="Index" asp-route-page="@(Model.PageIndex+1)">&raquo;</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>