@model CustomerLoginViewModel
@inject SignInManager<Customer> SignInManager

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<body class="hold-transition login-page">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="login-box">
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Sign in to continue</p>
                        <form asp-controller="Customer" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group mb-3">
                                <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" asp-for="RememberMe" value="remember" id="remember">
                                        <label for="remember">
                                            @Html.DisplayNameFor(model => model.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <section>
                            @{
                                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                if (loginProviders.Count == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article</a>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in loginProviders)
                                                {
                                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>

                        <p class="mb-1">
                            <a asp-action="ForgotPassword">I forgot my password</a>
                        </p>
                        <p class="mb-0">
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"] class="text-center">Register as a new user</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
