@model Tube
@*<div class="col-sm-4 col-lg-3 col-md-4">*@
<div class="img-thumbnail">
    <figure class="figure">
        <a asp-controller="Tube" asp-action="Details" asp-route-tubeId="@Model.TubeId">
            <img src="@Model.ImageThumbnailUrl" class="figure-img img-fluid rounded" alt="">
        </a><figcaption class="figure-caption">
            <h6 class="float-right">
                @Model.Price.ToString("c")            
                @if (Model.Discount != 0)
                {
                    <a class="text-danger">-@Model.Discount.ToString("P0")</a>
                }
            </h6>

            <h5>
                <a asp-controller="Tube" asp-action="Details" asp-route-tubeid="@Model.TubeId">
                    @Model.Brand @Model.Type
                </a>
            </h5>
            <p>@Model.Date, @Model.ShortDescription</p>
            <partial name="_AvailableInPairs" model="@Model" />
        </figcaption>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary" asp-controller="Tube" asp-action="Details"
                       asp-route-tubeId="@Model.TubeId">Details</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger" asp-controller="ShoppingCart" asp-action="AddToCart"
                       asp-route-tubeId="@Model.TubeId" asp-route-quantity="1">Buy!</a>
                </div>
            </div>
        </div>
    </figure>
</div>
@*</div>*@
