@model PaginatedList<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<section class="content mt-4">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            Categories List
                        </a>
                        <a class="btn btn-danger mx-4" asp-area="Admin" asp-controller="Category" asp-action="Add">
                            <i class="fas fa-plus-circle"></i> New Category
                        </a>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 80Vh;">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().CategoryId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().CategoryName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().ParentId)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var category in Model)
                                {
                                    <tr>
                                        <partial name="_CategoryPartial" model="category" />
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            @if (@Model.PageIndex > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.PageIndex-1)">&laquo;</a>
                                </li>
                            }
                            <li class="page-item"><a class="page-link">@Model.PageIndex</a></li>
                            @if (@Model.TotalPages > @Model.PageIndex)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="@(Model.PageIndex+1)">&raquo;</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
