@model Tube

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
            <figure class="figure">
                <img src="@Model.ImageThumbnailUrl" class="figure-img img-fluid rounded" alt="">
                <figcaption class="figure-caption">
                    <h3 class="float-right">@Model.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Tube" asp-action="Details" asp-route-id="@Model.TubeId">
                            @Model.Brand, @Model.Type
                        </a>
                    </h3>
                    <p>@Model.ShortDescription</p>
                </figcaption>
                <div class="addToCart">
                    <p class="button">
                        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                           asp-route-tubeId="@Model.TubeId">Add to cart</a>
                    </p>
                </div>
            </figure>
        </div>
    </div>